@import 'font.css';

@keyframes backgroundColour {
	from {
		background-color: white;
	}

	to {
		background-color: cornsilk;
	}
}
:root {
	--primary-font: 'Arial Narrow', sans-serif;
	--secondary-font: 'Arial', sans-serif;
	--film-title: 'Arial Black', 'Arial Narrow', sans-serif;
	--film-director: 'Arial Narrow', sans-serif;

	--light-color: #f1fff0;
	--text-color: #000000;
	--secondary-color: #1aff00;
	--grey: #909090cc;
	--link-hover-color: #c0b1dc;
	color: var(--text-color);
	font-size: calc(0.8em + 0.25vw);
	letter-spacing: 0.025em;
	line-height: 1.3em;
	font-family: var(--primary-font);
	/* animation-name: backgroundColour;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running; */
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	/* background: #f1fff0; */
}

a {
	text-decoration: none;
	color: var(--text-color);
}

a:active,
a:focus {
	text-decoration: none;
}

a:hover {
	color: var(--secondary-color);
}

header {
	padding: 0.25rem;
	/* display: flex;
	flex-direction: row;
	justify-content: center; */
	margin: 0;
	/* height: 100vh; */
	/* align-items: flex-start;
		position: fixed;
		width: 100vw; */
}

header h1 {
	/* border: 1px dotted var(--text-color); */
	border: 1px dotted var(--light-color);
	margin: 0 -1px 0 0;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: normal;
	width: max-content;
	/* background: rgba(255, 255, 255, 0.85); */
	background: var(--secondary-color);
}

header nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	cursor: default;
	font-size: 0.85rem;
	text-transform: uppercase;
}

header nav ul li:hover {
	cursor: grab;
}

header nav ul li:first-of-type {
	flex-grow: 1;
}

header nav ul li + li {
	margin-left: 2rem;
}

.filter__container {
	display: flex;
	flex-direction: row;
	position: fixed;
	border-radius: 1rem;
	box-shadow: 0 0 12px 4px white inset;
	text-transform: uppercase;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
	background: rgba(255, 255, 255, 0.5);
}

.filter--item {
	margin: 0 0.5rem;
	font-size: 0.85rem;
}

.program__container {
	display: flex;
	flex-direction: row;

	padding: 0 0.25rem;
	font-family: var(--secondary-font);
	flex-wrap: wrap;
	justify-content: space-between;
}

.program--item {
	/* width: calc(16% - 1rem); */
	/* min-width: calc(180px + 1rem); */
	min-width: 180px;
	width: calc((100% / 6) - 0.25rem);
	padding: 0;
	margin: 0;
	position: relative;
	background: white;
	width: calc(20% - 8px);
	border: 4px double black;
}

.program--item[data-confirm='hide'] {
	display: none;
}

.program--item .program--details {
	margin: 0 0.25rem 1rem 0.25rem ;
}

.program--item .program--details h4,
.program--item .program--details h5,
.program--item .program--details p {
	font-weight: normal;
	margin: 0;
	line-height: 1.9ch;
	font-size: 0.85rem;
}

.program--item .program--details h4 {
	font-family: var(--film-title);
}

.program--item .program--details span {
	display: flex;
	flex-direction: row;
}

.program--item .program--details h5,
.program--item .program--details p {
	font-family: var(--film-director);
}

.program--item .program--details p::before {
	content: '\00B7';
	margin: 0 2px;
}

.program--item ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0.25rem;
	padding: 0;
	right: 0;
	top: 0;
	align-items: flex-end;
	position: absolute;
}

.program--item li {
	background: white;
	border: 1px solid var(--secondary-color);
	margin-left: -1px;
	font-size: 10px;
	line-height: 2ch;
	text-align: right;
	width: max-content;
	padding: 1px 0.25rem;
}

.program--item li[data-filter-type='FALSE'] {
	display: none;
}

.program--item .filter--upcoming::before {
	content: 'upcoming';
}

.program--item .filter--series::before {
	content: 'series';
}

.program--item .filter--online::before {
	content: '#online';
}

.program--item .filter--past::before {
	content: 'past';
}

.program--item .filter--oneoff::before {
	content: 'one-off';
}

.program--item .filter--irl::before {
	content: 'IRL';
	text-transform: uppercase;
}

.program--item img {
	width: 100%;
	filter: grayscale(0%) contrast(1) brightness(1.1) blur(6px);
	/* mix-blend-mode: hue; */
	transition: filter 0.0125s linear, transform 0.15s linear;
}

.program--item:hover img {
	filter: grayscale(0%) contrast(1) brightness(1);
	mix-blend-mode: normal;
}

.program--item:hover {
	cursor: grab;
	background: white;
	border: 4px double white;
}

/* breakpoints */

/* mobile */
@media (max-width: 800px) {
}
