@import 'font.css';

:root {
	--primary-font: 'Arial Narrow', sans-serif;
	--secondary-font: 'Arial', sans-serif;
	--film-title: 'Arial Black', 'Arial Narrow', sans-serif;
	--light-color: #f1fff0;
	--text-color: #000000;
	--secondary-color: #1aff00;
	--grey: #909090cc;
	--link-hover-color: #c0b1dc;
	color: var(--text-color);
	font-size: calc(0.8em + 0.25vw);
	letter-spacing: 0.025em;
	line-height: 1.3em;
	font-family: var(--primary-font);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

a:active,
a:focus {
	text-decoration: none;
}

a:hover {
	color: var(--secondary-color);
}

.videoloop {
	position: fixed;
	top: 0;
	left: 0;
	filter: invert(1) saturate(0.1);
	z-index: -1;
}

header {
	padding: 0.25rem;
	margin: 0;
}

header nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

header nav a,
header nav span button {
	cursor: default;
	font-size: 0.85rem;
	font-family: var(--primary-font);
	text-transform: uppercase;
	/* text-shadow: 0px 0px 1px var(--text-color); */
	background: transparent;
	outline: none;
}

header nav a:hover,
header nav span button:hover {
	cursor: grab;
	color: var(--text-color);
	/* color: var(--secondary-color); */
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-color: var(--text-color);
	/* text-decoration-color: var(--secondary-color);
	text-shadow: 0px 0px 2px var(--secondary-color); */
}

header nav span button {
	border: none;
	outline: none;
}

header nav a:first-of-type {
	flex-grow: 1;
}

header nav span a {
	margin-left: 2rem;
}

.filter__container {
	display: flex;
	flex-direction: row;
	position: fixed;
	border-radius: 1rem;
	box-shadow: 0 0 12px 2px white inset;
	text-transform: uppercase;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
	background: rgba(255, 255, 255, 0.25);
}

.filter--item {
	margin: 0 0.5rem;
	font-size: 0.85rem;
}

.program__container {
	display: flex;
	flex-direction: row;

	padding: 0 0.25rem;
	font-family: var(--secondary-font);
	flex-wrap: wrap;
	justify-content: space-between;
}

.program--item {
	min-width: 180px;
	width: calc((100% / 6) - 0.25rem);
	padding: 0;
	margin: 0 0 0.125rem 0;
	position: relative;
	/* width: calc(20% - 8px); */
	border: 1px dotted var(--light-color);
}

.program--item[data-confirm='hide'] {
	display: none;
}

.program--item[data-upcoming='TRUE'] {
	border: 1px solid var(--secondary-color);
}

.program--item[data-upcoming='TRUE'] .program--details::after {
	content: '\2726  upcoming \2726';
	text-align: center;
	display: block;
	font-size: 10px;
	line-height: 2ch;
	text-align: center;
	padding: 0.375rem 0.25rem;
	text-transform: uppercase;
	text-shadow: 1px 0 2px var(--secondary-color);
	/* margin-top: -0.5rem; */
	color: var(--secondary-color);
}

.program--item[data-upcoming='TRUE'] .filter--upcoming {
	display: block;
	margin-top: -1.125rem;
	color: var(--secondary-color);
}

.program--item .program--details {
	margin: 0 0.25rem 1rem 0.25rem;
	text-align: center;
	color: var(--light-color);
	text-shadow: 1px 0px 2px var(--light-color);
	opacity: 0.85;
	mix-blend-mode: overlay;
}

.program--item .program--details h4,
.program--item .program--details h5,
.program--item .program--details p {
	font-weight: normal;
	margin: 0;
	line-height: 1.9ch;
	font-size: 0.85rem;
}

.program--item .program--details h4 {
	font-family: var(--film-title);
}

.program--item .program--details span {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.program--item .program--details h5,
.program--item .program--details p {
	font-family: var(--secondary-font);
}

.program--item .program--details p::before {
	content: '\00B7';
	margin: 0 2px;
}

.program--item ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0.25rem;
	left: 0;
	top: 0;
	position: absolute;
	opacity: 0;
	width: calc(100% - 0.5rem);
}

.program--item li {
	line-height: 2ch;
}

.program--item li,
.program--item .filter--upcoming p {
	font-size: 10px;
	text-align: center;
	padding: 0.125rem 0.25rem;
}

.program--item li[data-filter-type='FALSE'],
.program--item .filter--upcoming[data-filter-type='FALSE'] {
	display: none;
}

.program--item .filter--upcoming {
	opacity: 0;
}

.program--item .filter--upcoming p {
	margin: 0;
	line-height: 1.4ch;
}

.program--item .filter--series {
	color: var(--light-color);
	border: 1px solid var(--light-color);
	border-radius: 1rem;
	padding-right: 0.5rem;
	background: var(--text-color);
}

.program--item .filter--series::before {
	content: '';
	width: 5px;
	height: 5px;
	background: var(--light-color);
	display: inline-block;
	margin: 0 0.25rem 0.075rem;
	border-radius: 1rem;
}

.program--item .filter--online::before {
	content: '#online';
}

.program--item img {
	width: 100%;
	filter: grayscale(100%) contrast(2);
	mix-blend-mode: exclusion;
}

.program--item:hover {
	cursor: grab;
	border: 1px solid transparent;
	/* background-image: linear-gradient(transparent 95%, var(--secondary-color) 100%); */
}

.program--item[data-upcoming='TRUE']:hover {
	border: none;
	box-shadow: none;
}



.program--item[data-upcoming='TRUE']:hover .filter--upcoming {
	opacity: 1;
}

.program--item:hover img {
	filter: grayscale(0%) contrast(1) brightness(1);
	mix-blend-mode: normal;
	box-shadow: 1px;
}

.program--item:hover ul {
	opacity: 1;
	z-index: 1;
}

.program--item:hover .program--details,
.program--item:hover .filter--upcoming {
	mix-blend-mode: normal;
	text-shadow: none;
	opacity: 1;
}

/* breakpoints */

/* mobile */
@media (max-width: 800px) {
}
