:root {
  --primary-font: "Helvetica Neue", sans-serif;
  --secondary-font: "Newsreader", "Times", serif;
  --accent-color: #E2E2E2;
  --text-color: #000;
  --text-color-secondary: #8B6C38;
  /* --text-color-secondary: #; */
  color: var(--text-color);
  font-family: var(--primary-font);
  cursor: default;
  font-size: calc(0.75em + 1vw);
  letter-spacing: 0.0025em;
  cursor: auto;
  animation-name: backgroundColour;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes backgroundColour {
  from {
    background-color: #f3f3f3;
  }

  to {
    background-color: #edebe8;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

div {
  position: absolute;
  mix-blend-mode: multiply;
  z-index: 9;
  cursor: move;
}

nav {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--text-color);
  border-right: none;
  border-bottom: none;
}

a {
  text-decoration: none;
  border-right: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}