:root {
  --primary-font: "Arial", sans-serif;
  --text-color: #000;
  --text-color-secondary: #FFF;
  --link-hover-color: #0018fb;
  color: var(--text-color);
  font-size: calc(0.8em + 0.25vw);
  letter-spacing: 0.025em;
  line-height: 1.3em;
  font-family: var(--primary-font);
  /* animation-name: backgroundColour;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running; */
}

/* @keyframes backgroundColour {
  from {
    background-color: #f3f3f3;
  }

  to {
    background-color: var(--accent-color);
  }
} */
html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

div.videoloop {
  position: fixed;
  top: 0em;
  left: 0em;
  width: 100vw;
  overflow: 100vh;
  z-index: -1;
  pointer-events: none;
}

#griddrag {
  position: absolute;
  left: 4em;
  top: 4em;
  mix-blend-mode: normal;
  z-index: 2;
  cursor: move;
  display: grid;
  width: 25%;
  min-width: 280px;
  max-width: 460px;
  background: var(--text-color-secondary);
  touch-action: none;
  user-select: none;
  box-shadow: 1px 1px 12px var(--text-color-secondary);
  /* border: 1px solid var(--text-color); */
}

p {
  border: 2px solid var(--text-color);
  border-bottom: none;
  margin: 0;
  padding: 1em 0.625em;
  line-height: 130%;
}

/* p a {
  text-decoration: underline;
  color: var(--link-hover-color);
} */
nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:active, a:focus {
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

nav a {
  border: 2px solid var(--text-color);
  border-bottom: none;
  padding: 0.2em 0.625em;
}

nav a:last-child {
  border-bottom: 2px solid var(--text-color);
}

main {}

/* breakpoints */
@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}

/* mobile */
@media (max-width: 599px) {
  div {
    width: 90vw;
    mix-blend-mode: normal;
  }

  #griddrag {
    position: absolute;
    left: 1em;
    top: 1em;
    width: 90vw;
  }

  video {
    display: none;
  }

  body {
    background: url('../assets/nagina.png');
    background-size: cover;
  }
}