:root {
  --primary-font: "Helvetica Neue", sans-serif;
  --secondary-font: "Newsreader", "Times", serif;
  --accent-color: ;
  --text-color: #000;
  --text-color-secondary: ;
  --link-color: ;
  --link-hover-color: #000EC6;
  /* --text-color-secondary: #; */
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: calc(1em + 0.25vw);
  letter-spacing: 0.0025em;
  animation-name: backgroundColour;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes backgroundColour {
  from {
    background-color: #f3f3f3;
  }

  to {
    background-color: #edebe8;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

div {
  position: absolute;
  left: 1em;
  mix-blend-mode: multiply;
  z-index: 9;
  cursor: move;
  display: grid;
  width: 25%;
  max-width: 460px;
  /* border: 1px solid var(--text-color); */
}

p {
  border: 1px solid var(--text-color);
  border-bottom: none;
  margin-bottom: 0;
  padding: 1em 0.625em;
  line-height: 130%;
}

/* p a {
  text-decoration: underline;
  color: var(--link-hover-color);
} */
nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:active, a:focus {
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

nav a {
  border: 1px solid var(--text-color);
  border-bottom: none;
  padding: 0 0.625em;
}

nav a:last-child {
  border-bottom: 1px solid var(--text-color);
}