:root {
  --primary-font: "Helvetica Neue", sans-serif;
  --secondary-font: "Newsreader", "Times", serif;
  --accent-color: #edebe8;
  --text-color: #000;
  --text-color-secondary: ;
  --link-color: ;
  --link-hover-color: #0018fb;
  /* --text-color-secondary: #; */
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: calc(1em + 0.25vw);
  letter-spacing: 0.0025em;
  animation-name: backgroundColour;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes backgroundColour {
  from {
    background-color: #f3f3f3;
  }

  to {
    background-color: var(--accent-color);
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

div.videoloop {
  position: fixed;
  top: 0em;
  left: 0em;
  width: 100vw;
  overflow: 100vh;
  z-index: -1;
  pointer-events: none;
}

#griddrag {
  position: absolute;
  left: 4em;
  top: 8em;
  mix-blend-mode: normal;
  z-index: 2;
  cursor: move;
  display: grid;
  width: 25%;
  min-width: 280px;
  max-width: 460px;
  background: var(--accent-color);
  touch-action: none;
  user-select: none;
  box-shadow: 1px 1px 12px var(--accent-color);
  ;
  /* border: 1px solid var(--text-color); */
}

p {
  border: 1px solid var(--text-color);
  border-bottom: none;
  margin: 0;
  padding: 1em 0.625em;
  line-height: 130%;
}

/* p a {
  text-decoration: underline;
  color: var(--link-hover-color);
} */
nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:active, a:focus {
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

nav a {
  border: 1px solid var(--text-color);
  border-bottom: none;
  padding: 0 0.625em;
}

nav a:last-child {
  border-bottom: 1px solid var(--text-color);
}

main {}

/* mobile breakpoint */
@media (max-width: 599px) {
  div {
    width: 90vw;
    mix-blend-mode: normal;
  }
}