@font-face {
	font-family: 'Authentic 130';
	src: url() format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Authentic 90';
	src: url() format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Authentic 60';
	src: url() format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Faktory';
	src: url();
}

:root {
	--primary-font: 'Authentic 60', sans-serif;
	--title-font: 'Authentic 130', sans-serif;
	--header-font: 'Faktory', sans-serif;

	--text-color: #000000;
	--secondary-color: #1aff00;
	--fade-in-effect: fadein 400ms;
	color: var(--text-color);
	font-size: calc(0.5em + 1vw);
	letter-spacing: 0.0025em;
	line-height: 1.15em;
	cursor: default;
	font-family: var(--primary-font);
	-webkit-animation: var(--fade-in-effect);
	-moz-animation: var(--fade-in-effect);
	-ms-animation: var(--fade-in-effect);
	-o-animation: var(--fade-in-effect);
	animation: var(--fade-in-effect);
}

::selection {
	background: var(--accent-color);
	color: #fff;
}

* {
	box-sizing: border-box;
}

html {
	line-height: 1.2em;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(2, 50%);
}
